<md-toolbar layout="row">
  <md-button class="menu" hide-gt-md ng-click="vm.toggleList()" aria-label="Show Notes">
    <md-icon md-svg-icon="menu"></md-icon>
  </md-button>
  <span flex></span>
  <div layout="row" layout-align="center center">
    CloakMD
  </div>
  <span flex></span>
  <md-button ng-click="vm.exit()" aria-label="Exit">
    <md-icon md-svg-icon="exit"></md-icon>
    <span hide-xs hide-sm>Exit</span>
  </md-button>
</md-toolbar>


<div flex layout="row">

  <md-sidenav ng-click="vm.toggleList()" md-is-locked-open="$mdMedia('gt-md')" md-component-id="left" class="md-whiteframe-z2">
    <md-toolbar>
      <h1 class="md-toolbar-tools">Notes</h1>
    </md-toolbar>
    <md-list>
      <md-list-item ng-repeat="note in vm.notes">
        <md-button ng-click="vm.selectNote(note)" ng-class="{ selected: $index == vm.index }">
          <md-icon md-svg-icon="note"></md-icon>
          {{ note.title }}
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <div flex layout="column">
    <md-content class="content" flex>
      <md-input-container class="md-block">
        <label>Title</label>
        <input ng-model="vm.note.title" ng-change="vm.titleChanged()" ng-blur="vm.titleBlur()">
      </md-input-container>

      <div layout="row" layout-sm="column" layout-xs="column">
        <div layout-fill class="md-whiteframe-1dp" flex ui-ace="{ onLoad: vm.aceLoaded, onChange: vm.aceChanged }" ng-model="vm.note.data" ng-class="{ ace_editor_stacked: vm.isScreenXs || vm.isScreenSm }"></div>
        <div layout-fill class="md-whiteframe-1dp markdown-body" flex markdown-to-html="vm.note.data"></div>
      </div>
    </md-content>

    <md-fab-toolbar md-direction="left">
      <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
      </md-fab-trigger>

      <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">

          <md-button ng-click="vm.addNewNote()" class="md-raised" aria-label="New Note">
            <md-icon md-svg-icon="add"></md-icon>
            <span hide-xs>New Note</span>
          </md-button>

          <md-button ng-click="vm.removeCurrentNote()" class="md-raised" aria-label="Remove Note">
            <md-icon md-svg-icon="remove"></md-icon>
            <span hide-xs>Remove Note</span>
          </md-button>

          <md-button ng-click="vm.shareNote()" class="md-raised" aria-label="Learn More">
            <md-icon md-svg-icon="share"></md-icon>
            <span hide-xs>Share Note</span>
          </md-button>

        </md-fab-actions>
      </md-toolbar>
    </md-fab-toolbar>
  </div>

</div>