<md-toolbar layout="row">
	<md-button class="menu" hide-gt-md ng-click="vm.toggleList()" aria-label="Show notepad">
		<md-icon md-svg-icon="show_notes"></md-icon>
	</md-button>
	<span flex></span>
	<div layout="row" layout-align="center center">
		<a class="logo-link" ui-sref="notepad">CloakMD</a>
	</div>
	<span flex></span>
	<md-button ng-click="vm.exit()" aria-label="Exit">
		<md-icon md-svg-icon="exit"></md-icon>
	</md-button>
</md-toolbar>


<div flex layout="row">

	<md-sidenav ng-click="vm.toggleList()" md-is-locked-open="$mdMedia('gt-md')" md-component-id="left" class="md-whiteframe-z2">
		<md-toolbar>
			<div layout="row" layout-align="right center">
				<h1 class="md-toolbar-tools">Notepad</h1>
				<div ng-include="'app/notepad/partials/notepad-menu.html'"></div>
			</div>
		</md-toolbar>

		<md-list>
			<md-list-item ng-repeat="note in vm.notes" ng-click="vm.selectNote(note)" ng-class="{ selected: $index == vm.index }">
				<h4>{{ note.title }}</h4>
			</md-list-item>
		</md-list>
	</md-sidenav>

	<div flex layout="column">
		<md-content class="content" flex>

			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>Title</label>
					<input ng-model="vm.note.title" ng-change="vm.titleChanged()" ng-blur="vm.titleBlur()">
				</md-input-container>

				<div>
					<md-button ng-click="vm.openSharingDialog($event)" ng-disabled="vm.noteIsEmpty" class="md-raised md-primary">Share</md-button>
					<md-button ng-click="vm.removeCurrentNote()" ng-disabled="vm.noteIsEmpty" class="md-raised md-warn">Delete</md-button>
				</div>
			</div>

			<div layout="row" layout-sm="column" layout-xs="column">
				<div layout-fill class="md-whiteframe-1dp" flex ui-ace="{ onLoad: vm.aceLoaded, onChange: vm.aceChanged }" ng-model="vm.note.data"
					ng-class="{ ace_editor_stacked: vm.isScreenXs || vm.isScreenSm }"></div>
				<div layout-fill class="md-whiteframe-1dp markdown-body" flex markdown-to-html="vm.note.data"></div>
			</div>
		</md-content>
	</div>
</div>