html, body {
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

.buttons_stacked {
  margin-bottom: 40px;
}

.basic-footer {
  border-top: 1px solid #ddd;
  & a{
    margin-right: 10px;
  }
}

.setup-footer{
  background-color: #e6e6e6;
  & a{
    margin-right: 10px;
  }
}

md-list .selected{
    background-color: rgb(230, 230, 230);
}

.about-md{
  margin-top: 50px;
}