<md-toolbar layout="row" layout-align="center center">
	<md-button class="md-icon-button" hide-gt-md ng-click="vm.toggleList()" aria-label="Show notes">
		<md-icon md-svg-icon="notepad_menu"></md-icon>
		<md-tooltip>Show notes</md-tooltip>
	</md-button>
	<md-button class="md-icon-button" ui-sref="notepad" aria-label="Notepad">
		<md-icon md-svg-icon="notepad"></md-icon>
		<md-tooltip>Notepad</md-tooltip>
	</md-button>
	<span flex></span>
	<a class="logo-link" ui-sref="notepad">CloakMD</a>
	<span flex></span>
	<md-button class="md-icon-button" ng-click="vm.exit()" aria-label="Exit">
		<md-icon md-svg-icon="exit"></md-icon>
		<md-tooltip>Exit</md-tooltip>
	</md-button>
</md-toolbar>


<div flex layout="row">

	<md-sidenav ng-click="vm.toggleList()" md-is-locked-open="$mdMedia('gt-md')" md-component-id="left" class="md-whiteframe-z2">
		<md-toolbar>
			<div layout="row" layout-align="right center">
				<h1 class="md-toolbar-tools">Shared Notes</h1>
				<div ng-include="'app/shared/partials/shared-menu.html'"></div>
			</div>
		</md-toolbar>

		<md-list>
			<md-list-item ng-repeat="note in vm.notes" ng-click="vm.selectNote(note)" ng-class="{ selected: $index == vm.index }">
				<h4>{{ note.title }}</h4>
			</md-list-item>
		</md-list>
	</md-sidenav>

	<div flex layout="column">
		<md-content class="content" ng-hide="vm.hideControls" flex>

			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>Title</label>
					<input ng-model="vm.note.title" readonly>
				</md-input-container>

				<div>
					<md-button aria-label="Details" ng-click="vm.openDetailsDialog($event)" class="md-raised md-primary">Details</md-button>
				</div>
			</div>

			<div layout="row" layout-sm="column" layout-xs="column">
				<div layout-fill class="md-whiteframe-1dp markdown-body" flex markdown-to-html="vm.note.data"></div>
			</div>

		</md-content>

		<div layout="row" layout-align="center center" ng-show="vm.hideControls" flex>
			<div>
				<h3 class="neutral-warning-text">
					<md-icon md-svg-icon="warning"></md-icon>
					Nothing shared
				</h3>
			</div>
		</div>

		<div ng-include="'app/partials/footer/footer.html'"></div>

	</div>
</div>