<md-dialog aria-label="Share Note" flex="30">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Share Note</h2>
		</div>
	</md-toolbar>
	<md-content layout-padding>
		<form name="shareForm" ng-submit="vm.shareNote()">

			<md-progress-linear md-mode="query" ng-hide='vm.hideProgressBar'></md-progress-linear>

			<md-input-container class="md-block">
				<label for="passwordInput">Password</label>
				<input id="passwordInput" ng-disabled="vm.controlsDisabled" md-maxlength="70" required md-no-asterisk name="password" ng-model="vm.password"
					type="password" autofocus>
				<div ng-messages="shareForm.password.$error">
					<div ng-message="required">This is required.</div>
					<div ng-message="md-maxlength">The password must be less than 70 characters long.</div>
				</div>
			</md-input-container>

			<div class="options-block" layout="row">
				<div flex>
					<md-checkbox aria-label="Destroy after reading" ng-disabled="vm.controlsDisabled" aria-label="Destroy after reading" ng-model="vm.destroyAfterReading">
						Destroy after reading
					</md-checkbox>
				</div>
			</div>

			<div layout="row">
				<md-button aria-label="Cancel" class="md-raised" ng-disabled="vm.controlsDisabled" ng-click="vm.closeDialog()">
					Cancel
				</md-button>
				<span flex></span>
				<md-button aria-label="Share" class="md-raised md-primary" ng-disabled="shareForm.$invalid || vm.controlsDisabled" type="submit">
					Share
				</md-button>
			</div>
		</form>
	</md-content>
</md-dialog>