<div layout="row" flex>
    <md-content class="grey" flex>
        <div layout="row" layout-align="center center" layout-fill>
            <div class="white" layout="column" flex-gt-sm="20">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        {{ vm.title }}
                    </div>
                </md-toolbar>
                <md-content layout-padding>
                    <form name="setupForm" ng-submit="vm.proceed()">
                        <md-input-container class="md-block">
                            <label>Master Password</label>
                            <input md-maxlength="70" required md-no-asterisk name="password" ng-model="vm.password" type="password" autofocus>
                            <div ng-messages="setupForm.password.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The password must be less than 70 characters long.</div>
                            </div>
                        </md-input-container>
                        <md-checkbox aria-label="Reset Notepad" ng-model="vm.isResetNotepad">
                            Reset Notepad
                        </md-checkbox>
                        <md-input-container layout="row" layout-align="center center">
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="setupForm.$invalid">
                                Go To Notepad
                            </md-button>
                        </md-input-container>
                    </form>
                </md-content>
            </div>
        </div>
    </md-content>
</div>